*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    font-size: 30px;
    color: red;
    margin-top: 20px;
    text-align: center;
}

div {
    padding: 20px 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    height: 100vh;
    margin-bottom: 500px;
}
#count{
    font-size: 80px;
    text-align: center;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
button {
    background-color: red;
    border-radius: 30px;
    font-size: 20px;
    color: #f0f0f0;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    margin: 20px 0;
}
.dark {
    background: black;
    color: white;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#container{
    background-color: white;
    padding: 50px;
    width: 50%;
    margin-top: 20px;
}
#container p {
    color: green;
    font-size: 25px;
}

.done {
    text-decoration: line-through;
    color: rgb(185, 28, 28);
}

li {
    font-size: 25px;
    list-style: none;
    cursor: pointer;
}